<div class="form-group form-inline">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group form-inline">
  <%= f.label :starts_at %>
  <%= f.datetime_select :starts_at, :ampm => true, :minute_step => 15 %>
</div>
<div class="form-group form-inline">
  <%= f.label :ends_at %>
  <%= f.datetime_select :ends_at, :ampm => true, :minute_step => 15 %>
</div>
<div class="form-group form-inline">
  <%= f.label :venue_id %>
  <%= f.select :venue_id, Venue.all.collect {|venue| [venue.name, venue.id]}, prompt: "Select a venue" %>
</div>
<div class="form-group form-inline">
  <%= f.label :hero_image_url %>
  <%= f.text_field :hero_image_url, class: "form-control" %>
</div>
<div class="form-group form-inline">
  <%= f.label :extended_html_description %>
  <%= f.text_field :extended_html_description, class: "form-control" %>
</div>
<div class="form-group form-inline">
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.collect {|category| [category.name, category.id]}, prompt: "Select a category" %>
</div>
