<br />
<br />
<br />
<h1>Create Events</h1>

<div class="form">
<%= form_for Event.new do |f| %>
<div class="form-group form-inline">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group form-inline">
  <%= f.label :starts_at %>
  <%= f.datetime_select :starts_at, :ampm => true, :minute_step => 15 %>
</div>
<div class="form-group form-inline">
  <%= f.label :ends_at %>
  <%= f.datetime_select :ends_at, :ampm => true, :minute_step => 15 %>
</div>
<div class="form-group form-inline">
  <%= f.label :venue_id %>
  <%= f.select :venue_id, @venues.collect {|venue| [venue.name, venue.id]}, prompt: "Select a venue" %>
</div>
<div class="form-group form-inline">
  <%= f.label :hero_image_url %>
  <%= f.text_field :hero_image_url, class: "form-control" %>
</div>
<div class="form-group form-inline">
  <%= f.label :extended_html_description %>
  <%= f.text_field :extended_html_description, class: "form-control" %>
</div>
<div class="form-group form-inline">
  <%= f.label :category_id %>
  <%= f.select :category_id, @categories.collect {|category| [category.name, category.id]}, prompt: "Select a category" %>
</div>
<div class="form-group form-inline">
  <%# f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Create", class: "btn btn-success" %>
  <%= link_to "Cancel", root_path, class: "btn btn-warning" %>
</div>
<% end %>
</div>
